@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme default {
  --spacing-c-0.5: clamp(calc(2px * 0.6), calc(2 / 1440 * 100vw), 2px);
  --spacing-c-1: clamp(calc(4px * 0.6), calc(4 / 1440 * 100vw), 4px);
  --spacing-c-1.5: clamp(calc(6px * 0.6), calc(6 / 1440 * 100vw), 6px);
  --spacing-c-2: clamp(calc(8px * 0.6), calc(8 / 1440 * 100vw), 8px);
  --spacing-c-2.5: clamp(calc(10px * 0.6), calc(10 / 1440 * 100vw), 10px);
  --spacing-c-3: clamp(calc(12px * 0.6), calc(12 / 1440 * 100vw), 12px);
  --spacing-c-3.5: clamp(calc(14px * 0.6), calc(14 / 1440 * 100vw), 14px);
  --spacing-c-4: clamp(calc(16px * 0.6), calc(16 / 1440 * 100vw), 16px);
  --spacing-c-4.5: clamp(calc(18px * 0.6), calc(18 / 1440 * 100vw), 18px);
  --spacing-c-5: clamp(calc(20px * 0.6), calc(20 / 1440 * 100vw), 20px);
  --spacing-c-5.5: clamp(calc(22px * 0.6), calc(22 / 1440 * 100vw), 22px);
  --spacing-c-6: clamp(calc(24px * 0.6), calc(24 / 1440 * 100vw), 24px);
  --spacing-c-6.5: clamp(calc(26px * 0.6), calc(26 / 1440 * 100vw), 26px);
  --spacing-c-7: clamp(calc(28px * 0.6), calc(28 / 1440 * 100vw), 28px);
  --spacing-c-7.5: clamp(calc(30px * 0.6), calc(30 / 1440 * 100vw), 30px);
  --spacing-c-8: clamp(calc(32px * 0.6), calc(32 / 1440 * 100vw), 32px);
  --spacing-c-8.5: clamp(calc(34px * 0.6), calc(34 / 1440 * 100vw), 34px);
  --spacing-c-9: clamp(calc(36px * 0.6), calc(36 / 1440 * 100vw), 36px);
  --spacing-c-9.5: clamp(calc(38px * 0.6), calc(38 / 1440 * 100vw), 38px);
  --spacing-c-10: clamp(calc(40px * 0.6), calc(40 / 1440 * 100vw), 40px);
  --spacing-c-10.5: clamp(calc(42px * 0.6), calc(42 / 1440 * 100vw), 42px);
  --spacing-c-11: clamp(calc(44px * 0.6), calc(44 / 1440 * 100vw), 44px);
  --spacing-c-12: clamp(calc(48px * 0.6), calc(48 / 1440 * 100vw), 48px);
  --spacing-c-14: clamp(calc(56px * 0.6), calc(56 / 1440 * 100vw), 56px);
  --spacing-c-16: clamp(calc(64px * 0.6), calc(64 / 1440 * 100vw), 64px);
  --spacing-c-20: clamp(calc(80px * 0.6), calc(80 / 1440 * 100vw), 80px);
  --spacing-c-24: clamp(calc(96px * 0.6), calc(96 / 1440 * 100vw), 96px);
  --spacing-c-28: clamp(calc(112px * 0.6), calc(112 / 1440 * 100vw), 112px);
  --spacing-c-32: clamp(calc(128px * 0.6), calc(128 / 1440 * 100vw), 128px);
  --spacing-c-36: clamp(calc(144px * 0.6), calc(144 / 1440 * 100vw), 144px);
  --spacing-c-40: clamp(calc(160px * 0.6), calc(160 / 1440 * 100vw), 160px);
  --spacing-c-44: clamp(calc(176px * 0.6), calc(176 / 1440 * 100vw), 176px);
  --spacing-c-48: clamp(calc(192px * 0.6), calc(192 / 1440 * 100vw), 192px);
  --spacing-c-56: clamp(calc(224px * 0.6), calc(224 / 1440 * 100vw), 224px);
  --spacing-c-64: clamp(calc(256px * 0.6), calc(256 / 1440 * 100vw), 256px);
  --spacing-c-72: clamp(calc(288px * 0.6), calc(288 / 1440 * 100vw), 288px);
  --spacing-c-80: clamp(calc(320px * 0.6), calc(320 / 1440 * 100vw), 320px);
  --spacing-c-96: clamp(calc(384px * 0.6), calc(384 / 1440 * 100vw), 384px);
  --spacing-c-112: clamp(calc(448px * 0.6), calc(448 / 1440 * 100vw), 448px);
  --spacing-c-128: clamp(calc(512px * 0.6), calc(512 / 1440 * 100vw), 512px);
  --spacing-c-144: clamp(calc(576px * 0.6), calc(576 / 1440 * 100vw), 576px);
  --spacing-c-160: clamp(calc(640px * 0.6), calc(640 / 1440 * 100vw), 640px);
  --spacing-c-176: clamp(calc(704px * 0.6), calc(704 / 1440 * 100vw), 704px);
  --spacing-c-192: clamp(calc(768px * 0.6), calc(768 / 1440 * 100vw), 768px);
  --spacing-c-208: clamp(calc(832px * 0.6), calc(832 / 1440 * 100vw), 832px);
  --spacing-c-224: clamp(calc(896px * 0.6), calc(896 / 1440 * 100vw), 896px);
  --spacing-c-240: clamp(calc(960px * 0.6), calc(960 / 1440 * 100vw), 960px);
  --spacing-c-256: clamp(calc(1024px * 0.6), calc(1024 / 1440 * 100vw), 1024px);

  --radius-c-0.5: clamp(calc(2px * 0.6), calc(2 / 1440 * 100vw), 2px);
  --radius-c-1: clamp(calc(4px * 0.6), calc(4 / 1440 * 100vw), 4px);
  --radius-c-1-5: clamp(calc(6px * 0.6), calc(6 / 1440 * 100vw), 6px);
  --radius-c-2: clamp(calc(8px * 0.6), calc(8 / 1440 * 100vw), 8px);
  --radius-c-2-5: clamp(calc(10px * 0.6), calc(10 / 1440 * 100vw), 10px);
  --radius-c-3: clamp(calc(12px * 0.6), calc(12 / 1440 * 100vw), 12px);
  --radius-c-3-5: clamp(calc(14px * 0.6), calc(14 / 1440 * 100vw), 14px);
  --radius-c-4: clamp(calc(16px * 0.6), calc(16 / 1440 * 100vw), 16px);
  --radius-c-4-5: clamp(calc(18px * 0.6), calc(18 / 1440 * 100vw), 18px);
  --radius-c-5: clamp(calc(20px * 0.6), calc(20 / 1440 * 100vw), 20px);
  --radius-c-5-5: clamp(calc(22px * 0.6), calc(22 / 1440 * 100vw), 22px);
  --radius-c-6: clamp(calc(24px * 0.6), calc(24 / 1440 * 100vw), 24px);
  --radius-c-6-5: clamp(calc(26px * 0.6), calc(26 / 1440 * 100vw), 26px);
  --radius-c-7: clamp(calc(28px * 0.6), calc(28 / 1440 * 100vw), 28px);
  --radius-c-7-5: clamp(calc(30px * 0.6), calc(30 / 1440 * 100vw), 30px);
  --radius-c-8: clamp(calc(32px * 0.6), calc(32 / 1440 * 100vw), 32px);
  --radius-c-8-5: clamp(calc(34px * 0.6), calc(34 / 1440 * 100vw), 34px);
  --radius-c-9: clamp(calc(36px * 0.6), calc(36 / 1440 * 100vw), 36px);
  --radius-c-9-5: clamp(calc(38px * 0.6), calc(38 / 1440 * 100vw), 38px);
  --radius-c-10: clamp(calc(40px * 0.6), calc(40 / 1440 * 100vw), 40px);
}
